.contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: #302e4d;
  text-transform: capitalize;
  margin: 15px 0 5px;
}
.contact-info-item p,
.contact-info-item p a {
  font-size: 16px;
  line-height: 25px;
  color: #504e70;
  margin: 0;
  font-weight: 400;
}
.contact-form {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
/* .contact-form .col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
} */
.contact-form .col-6,
.contact-form .col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.contact-form .form-item {
  margin-bottom: 5px;
}
.contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #d4d4e3;
  padding: 10px 25px;
  font-size: 16px;
  color: #504e70;
  transition: all 0.5s ease;
  margin: 0 15px;
}
.contact-form .form-item .form-control:focus {
  -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact-form .form-item textarea.form-control {
  height: 140px;
}
.btn {
  border-radius: 25px;
  border: none;
  background: #f02424;
  height: 50px;
  padding: 0 50px;
  color: #ffffff;
}
